In [22]:
%matplotlib inline
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt

In [23]:
import numpy as np
import pandas as pd
import datetime as dt

# Reflect Tables into SQLAlchemy ORM

In [24]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [25]:
# create engine to hawaii.sqlite
engine = create_engine("sqlite:///hawaii.sqlite")

In [26]:
# reflect an existing database into a new model
db = automap_base()
# reflect the tables
db.prepare(engine, reflect=True)

In [27]:
# View all of the classes that automap found
db.classes.keys()

['measurement', 'station']

In [28]:
# Save references to each table
Measurement = db.classes.measurement
Station = db.classes.station

In [29]:
# Create our session (link) from Python to the DB
pydbsession = Session(engine)

# Exploratory Precipitation Analysis

In [30]:
# Find the most recent date in the data set.

recent_date = pydbsession.query(func.max(func.strftime("%Y-%m-%d", Measurement.date))).limit(5).all()
recent_date[0][0]

'2017-08-23'

In [32]:
# Design a query to retrieve the last 12 months of precipitation data and plot the results. 

# Starting from the most recent data point in the database. 


# Calculate the date one year from the last date in data set.


# Perform a query to retrieve the data and precipitation scores
rain_data= pydbsession.query(func.strftime("%Y-%m-%d", Measurement.date), Measurement.prcp).\
    filter(func.strftime("%Y-%m-%d", Measurement.date) >= dt.date(2016, 8, 23)).all()


# Save the query results as a Pandas DataFrame and set the index to the date column

rain_df = pd.DataFrame(rain_data, columns = ['date', 'precipitation'])

# Sort the dataframe by date

rain_df.set_index('date', inplace = True)

# Use Pandas Plotting with Matplotlib to plot the data

rain_df = rain_df.sort_values(by='date')
rain_df.head()

            precipitation
date
2016-08-23           0.00
2016-08-23            NaN
2016-08-23           1.79
2016-08-23           0.05
2016-08-23           0.15

In [ ]:
# Use Pandas to calcualte the summary statistics for the precipitation data

# Exploratory Station Analysis

In [ ]:
# Design a query to calculate the total number stations in the dataset

In [ ]:
# Design a query to find the most active stations (i.e. what stations have the most rows?)
# List the stations and the counts in descending order.

In [ ]:
# Using the most active station id from the previous query, calculate the lowest, highest, and average temperature.

In [ ]:
# Using the most active station id
# Query the last 12 months of temperature observation data for this station and plot the results as a histogram

# Close session

In [ ]:
# Close Session
session.close()